div(id="content")
    form(class="search" id="search" hx-swap='outerHTML')
        input(hx-get="/api/search" type="text" placeholder="Search ECC project" name="q" hx-sync="closest form:abort")
        button(type="submit") Search 
        input(name=`search-type` hx-target="#search" type="radio" checked="true" value='Product')
        label(for="Product") Product
        input(name=`search-type` hx-target="#search" type="radio" value="Scrum" hx-get="/api/search")
        label(for="Scrum") Scrum Master
        input(name=`search-type` hx-target="#search" type="radio" value="Dev" hx-get="/api/search")
        label(for="Dev") Developer
    span(class="count") Results: #{projects.length}
    form(action="/api/add")
        input(class="add" type="submit" value="New Entry")
    table(id="search-results" hx-swap="beforeend")
        tr(id="header" hx-swap="beforeend")
            each header in headers
                th #{header}
            th commands
        each project in projects 
            tr(id=`id-${project.productId}` hx-swap="outerHTML")
                td
                    a(href=`/api/product/${project.productId}`) #{project.productId}
                td #{project.productName}
                td #{project.productOwnerName}
                td #{project.developers}
                td #{project.scrumMasterName}
                td #{project.startDate}
                td #{project.methodology}
                td #{project.location}
                td
                    button(class="edit" hx-target=`#id-${project.productId}` hx-get=`/api/edit/${project.productId}`) Edit 
                    button(idclass="delete" hx-target=`#content` hx-delete=`/api/delete/${project.productId}`) Delete