tr(id=`id-${items['productId']}` hx-swap="outerHTML")
    form()
        each val, index in items 
            if index == 'productId'
                -value = val
                td #{val}
            else if index == 'methodology'
                th
                    if val == 'Agile'
                        input(name=`radio-${value}` type="radio" checked="true" value=`Agile`)
                        label(for="Agile") Agile
                        input(name=`radio-${value}` type="radio" value=`Waterfall`)
                        abel(for="Waterfall") Waterfall
                    else
                        input(name=`radio-${value}` type="radio" value=`Agile`)
                        label(for="Agile") Agile
                        input(name=`radio-${value}` type="radio" checked="true" value="Waterfall")
                        label(for="Waterfall") Waterfall
            else
                td
                    input(class= "editing" type=text value=`${val}` name=`${index}` 
                    hx-sync="closest form:abort" hx-patch="/api/save")
        td
            button(type="submit" hx-patch=`/api/save/${items['productId']}` 
            hx-include=`.editing, [name=radio-${value}]` hx-target=`#id-${items['productId']}`) Save 